.btn-primary {
  width: 160px;
  height: 42px;
  color: $white;
  text-align: center;
  background: rgb(128, 121, 251);
  background: linear-gradient(90deg, rgba(128, 121, 251, 1) 0%, rgba(189, 86, 229, 1) 100%);
  border: none;
  border-radius: 8px;
}


.btn-secondary {
  width: 170px;
  height: 46px;
  color: $white;
  text-align: center;
  background: rgb(135, 251, 121);
  background: linear-gradient(90deg, rgba(135, 251, 121, 1) 0%, rgba(46, 225, 180, 1) 100%);
  border-radius: 8px;
}

.box-shadow {
  border-radius: 8px;
  box-shadow: 0px 20px 60px 0px rgba(62, 62, 62, 1);
}

.descriptipn{
  span{
    font-weight: 400;
  }
}
.descriptipn{
  display: flex;
  justify-content: space-between;
}
.description-content{
  width: 50%; 
}
.description-title{
  line-height: 1.4;
}
.description__margin{
  margin-top: 150px;
}