.footer{
  background-image: url(../../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}
.footer-logo{
  width: 30%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 90px;
}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
}
.footer-contacts, .footer-nav, .footer-social{
  display: flex;
  flex-direction: column;
  a{
    margin-bottom: 20px;
    color: $black2;
  }
}
.footer-subtitle{
  letter-spacing: 1.1;
  color: $black3;
  padding-bottom: 30px;
}